<h1>Nertz Teams</h1>
<hr>

<%= form_tag create_team_path, :method => :post, :class => 'form-inline' do %>
  <div class="col-auto form-group">
    <label>Type:</label>
    <%= select_tag(
          :team_type,
          options_for_select([["Doubles", Team::DOUBLES], ["Singles", Team::SINGLES]]),
          class: "form-control mx-sm-3") %>
  </div>

  <div class="col-auto form-group">
    <label>Name:</label>
    <input type="text" class="form-control mx-sm-3" id="team_name" name="team_name">
  </div>

  <div class="col-auto form-group">
    <label>Player 1:</label>
    <%= select_tag(
          :player1,
          options_from_collection_for_select(@all_players, :id, :name),
          include_blank: true,
          class: "form-control mx-sm-3") %>
  </div>

  <div id="player2_div" class="col-auto form-group">
    <label>Player 2:</label>
    <%= select_tag(
          :player2,
          options_from_collection_for_select(@all_players, :id, :name),
          include_blank: true,
          class: "form-control mx-sm-3") %>
  </div>

  <button type="submit" class="btn btn-success mx-sm-3">
    Create new team
  </button>
<% end %>

<br>

<h2>Existing Teams</h2>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Type</th>
    <th>Name</th>
    <th>Players</th>
  </thead>
  <tbody>
    <% @all_teams.each do |team| %>
      <tr>
        <td><%= team.id %></td>
        <td><%= team.team_type %></td>
        <td><%= team.name %></td>
        <td><%= team.team_players.map(&:player).map(&:name).join(', ')%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(function() {
    // Show and hide player 2 when switching from doubles to singles
    $('select#team_type').change(function() {
      $('#player2').val('');

      if ( $('select#team_type').val() == 'doubles' ) {
        $('#player2_div').show();
      } else if ( $('select#team_type').val() == 'singles' ) {
        $('#player2_div').hide();
      }
    })
  })
</script>
