<h1>Nertz Teams</h1>
<hr>

<%= form_tag create_team_path, :method => :post, :class => 'form-inline' do %>
  <div class="col-xs-2 form-group">
    <label>Type:</label>
    <%= select_tag(
          :team_type,
          options_for_select([["Doubles", Team::DOUBLES], ["Singles", Team::SINGLES]]),
          class: "form-control mx-sm-3 custom-select") %>
  </div>

  <div class="col-xs-2 form-group">
    <label>Name:</label>
    <input type="text" class="form-control mx-sm-3" id="team_name" name="team_name">
  </div>

  <div class="col-xs-2 form-group">
    <label>Player 1:</label>
    <%= select_tag(
          :player1,
          options_from_collection_for_select(@all_players, :id, :name),
          include_blank: true,
          class: "form-control mx-sm-3 custom-select") %>
  </div>

  <div id="player2_div" class="col-xs-2 form-group">
    <label>Player 2:</label>
    <%= select_tag(
          :player2,
          options_from_collection_for_select(@all_players, :id, :name),
          include_blank: true,
          class: "form-control mx-sm-3 custom-select") %>
  </div>

  <div class="col-xs-2 form-group">
    <button type="submit" class="btn btn-success mx-sm-3"><i class="fa fa-plus-square"></i> Create new team</button>
  </div>
<% end %>

<br>

<%= render 'teams_table', title: "Doubles Teams", teams: @doubles_teams_sorted %>
<%= render 'teams_table', title: "Singles Teams", teams: @singles_teams_sorted %>

<script type="text/javascript">
  $(function() {
    // Show and hide player 2 when switching from doubles to singles
    $('select#team_type').change(function() {
      $('#player2').val('');

      if ( $('select#team_type').val() == 'doubles' ) {
        $('#player2_div').show();
      } else if ( $('select#team_type').val() == 'singles' ) {
        $('#player2_div').hide();
      }
    })
  })
</script>
