<h1>Nertz Teams</h1>
<hr>

<%= form_tag create_team_path, :method => :post, :class => 'form-inline' do %>
  <div class="col-xs-2 form-group">
    <label>Type:</label>
    <%= select_tag(
          :team_type,
          options_for_select([["Doubles", Team::DOUBLES], ["Singles", Team::SINGLES]]),
          class: "form-control mx-sm-3 custom-select") %>
  </div>

  <div class="col-xs-2 form-group">
    <label>Name:</label>
    <input type="text" class="form-control mx-sm-3" id="team_name" name="team_name">
  </div>

  <div class="col-xs-2 form-group">
    <label>Player 1:</label>
    <%= select_tag(
          :player1,
          options_from_collection_for_select(@all_players, :id, :name),
          include_blank: true,
          class: "form-control mx-sm-3 custom-select") %>
  </div>

  <div id="player2_div" class="col-xs-2 form-group">
    <label>Player 2:</label>
    <%= select_tag(
          :player2,
          options_from_collection_for_select(@all_players, :id, :name),
          include_blank: true,
          class: "form-control mx-sm-3 custom-select") %>
  </div>

  <div class="col-xs-2 form-group">
    <button type="submit" class="btn btn-success mx-sm-3"><i class="fa fa-plus-square"></i> Create new team</button>
  </div>
<% end %>

<br>

<h3>Singles Teams</h3>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Players</th>
    <th></th>
  </thead>
  <tbody>
    <% @singles_teams_sorted.each do |team_info| %>
      <tr>
        <td><%= team_info[:id] %></td>
        <td><%= team_info[:team_name] %></td>
        <td><%= team_info[:team_players_names] %></td>
        <td>
          <%= link_to past_games_path(team_id: team_info[:id]), class: 'btn btn-sm btn-outline-info' do %>
            <i class="fa fa-info-circle"></i> Past games
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Doubles Teams</h3>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Players</th>
    <th></th>
  </thead>
  <tbody>
    <% @doubles_teams_sorted.each do |team_info| %>
      <tr>
        <td><%= team_info[:id] %></td>
        <td><%= team_info[:team_name] %></td>
        <td><%= team_info[:team_players_names] %></td>
        <td>
          <%= link_to past_games_path(team_id: team_info[:id]), class: 'btn btn-sm btn-outline-info' do %>
            <i class="fa fa-info-circle"></i> Past games
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(function() {
    // Show and hide player 2 when switching from doubles to singles
    $('select#team_type').change(function() {
      $('#player2').val('');

      if ( $('select#team_type').val() == 'doubles' ) {
        $('#player2_div').show();
      } else if ( $('select#team_type').val() == 'singles' ) {
        $('#player2_div').hide();
      }
    })
  })
</script>
