<td> - </td>
<% @team_games.each do |team_game| %>
  <td>
    <h3>
      <span class="badge badge-secondary" style="background-color: <%= @team_games_with_colors[team_game] %>;">
        <%= team_game.team.name %>
      </span>
      <br/>
      <span class="badge badge-secondary <%= 'badge-warning' if team_game == @winning_team_game %>">
        <%= team_game.total_score %>
      </span>
    </h3>
  </td>
<% end %>
<td>
  <%= form_tag new_round_path do %>
    <button title="New round" type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
  <% end %>
</td>
<td></td>
