<%= form_tag save_round_path do %>
  <td><%= round_number %></td>
  <% @team_games.each do |team_game| %>
    <% round = @rounds_by_number[round_number].find { |round| round.team_game_id == team_game.id } %>
    <% if round.present? %>
      <td>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text pb-0">
                    <label>
                      <input
                        <%= 'checked' if round.nertz? %>
                        type="radio"
                        name="nertzed-<%= round_number %>"
                        value=<%= round.id %>
                      >
                    </label>
                  </div>
                </div>
                <input
                  type="number"
                  name="scores[<%= round.id %>]"
                  class="form-control"
                  min="-26"
                  step="1"
                  value=<%= round.score %>
                />
              </div>
            </div>
          </div>
        </div>
      </td>
    <% else %>
      <td></td>
    <% end %>
  <% end %>
  <td>
    <%= hidden_field_tag :round_number, round_number %>
    <button title="Save round" type="submit" class="btn btn-outline-success"><i class="fa fa-save"></i></button>
  </td>
<% end %>
<td>
  <%= form_tag
    archive_round_path(round_number: round_number),
    :method => :put,
    :id => "remove-team-form-#{round_number}" do %>
    <%= hidden_field_tag :game_id, game_id %>
    <select
      class="custom-select"
      id="remove-round-select-<%= round_number %>"
      name="team_game_id"
      style="width:auto">
      <option selected value="0">Remove team</option>
        <% @team_games.sort_by { |team_game| team_game.team.name }.each do |team_game| %>
          <option value=<%= team_game.id %>>
            <%= team_game.team.name %>
          </option>
        <% end %>
    </select>

    <button
      title="Remove selected team"
      type="submit"
      class="btn btn-outline-danger">
      <i class="fa fa-trash"></i>
    </button>
  <% end %>
</td>
