
  <% @team_games.each do |team_game| %>
    <td>
      <% if team_game.team.singles? %>
        <select disabled class="custom-select custom-select-sm" style="width:auto">
          <option><%= team_game.team.players.first.name %></option>
        </select>
      <% else %>
        <select
          form="set-solitaire-players-form"
          class="custom-select custom-select-sm"
          name="solitaire[<%= team_game.id %>]"
          style="width:auto">
          <option value=0></option>
          <% team_game.team.players.each do |player| %>
            <option
              <%= 'selected' if team_game.solitaire_player_id == player.id %>
              value=<%= player.id %>>
              <%= player.name %>
            </option>
          <% end %>
        </select>
      <% end %>
    </td>
  <% end %>
  <td>
    <%= form_tag set_solitaire_players_path, {id: "set-solitaire-players-form"} do %>
      <button
        title="Set 1st solitaire player"
        type="submit"
        class="btn btn-outline-success">
          <i class="fa fa-save"></i>
      </button>
      <% end %>
  </td>
