<%= form_tag toggle_team_game_active_path(team_game_id: team_game.id),
  :method => :post do %>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      id="toggle-team-check-input-<%= team_game.id %>"
      type="checkbox"
      name="team_game_id"
      <%= 'checked' if team_game.active? %>>
    <label
      title="<%= team_game.team.team_members_label %>"
      class="form-check-label"
      for="toggle-team-check-input-<%= team_game.id %>">
      <%= team_game.team.name %>
    </label>
  </div>
<% end %>
