<h1>Nertz Games</h1>
<hr>

<%= form_tag create_game_path, :method => :put, :class => 'form-inline' do %>
  <div class="col-auto form-group">
    <label>Date:</label>
    <input type="date" class="form-control mx-sm-3" name="game[date]" value=<%= Time.zone.today %>>
  </div>

  <div class="col-auto form-group">
    <label>Winning score:</label>
    <input type="text" class="form-control mx-sm-3" placeholder="0 for uncapped game" name="game[winning_score]">
  </div>
  <button type="submit" class="btn btn-success mx-sm-3">Create new game</button>
<% end %>

<br>

<h2>Past Games</h2>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Date</th>
    <th>Participants</th>
    <th>Winning team</th>
    <th>Winning score</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% Game.all.sort_by(&:date).reverse.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.date %></td>
        <td><%= game.team_names %></td>
        <td><%= game.winning_team&.name %></td>
        <td><%= game.winning_score %></td>
        <td>
          <%= link_to 'More info', game_scores_path(game_id: game.id), class: 'btn btn-sm btn-outline-info' %>
        </td>
        <td>
          <%= link_to 'Archive', game_scores_path(game_id: game.id), class: 'btn btn-sm btn-outline-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
