<div>
  <h1 class="pull-left">Nertz Scores for Game <%= @game.id %></h1>
  <%= render 'add_team_form' %>
</div>

<table class="table table-condensed table-striped table-hover" style="text-align: center">
  <thead>
    <th>Round</th>
    <% @team_games.each do |team_game| %>
      <th>
        <%= render 'toggle_team_active_form', team_game: team_game %>
      </th>
    <% end %>
    <th></th>
    <th></th>
  </thead>
  <thead>
    <td class="small">1st Player Solitairing</td>
    <%= form_tag set_solitaire_players_path do %>
      <% @team_games.each do |team_game| %>
        <td>
          <select class="custom-select custom-select-sm" id="solitaire-select" name="solitaire[<%= team_game.id %>]" style="width:auto">
            <option value=0></option>
            <% team_game.team.players.each do |player| %>
              <option <%= 'selected' if team_game.solitaire_player_id == player.id %> value=<%= player.id %>><%= player.name %></option>
            <% end %>
          </select>
        </td>
      <% end %>
      <td>
        <button title="Set 1st solitaire player" type="submit" class="btn btn-outline-success"><i class="fa fa-save"></i></button>
      </td>
    <% end %>
    <td></td>
  </thead>
  <tbody>
    <% @rounds_by_number.keys.sort.each do |round_number| %>
      <tr>
        <%= render 'round_row', round_number: round_number, game_id: @game.id %>
      </tr>
    <% end %>
    <%= render 'new_round_row' %>
  </tbody>
</table>

<%= line_chart_total_score_over_rounds(team_games_with_colors: @team_games_with_colors) %>

<script type="text/javascript">
  $(function() {
    // For on-checked toggling of TeamGame active boolean
    $('input.form-check-input').change(function() {
      $(this).parents('form:first').submit();
    })

    // Show and hide player 2 when switching from doubles to singles
    $('select#team-type').change(function() {
      $('#player-2').val(0);

      if ( $('select#team-type' ).val() == 'doubles' ) {
        $('#player-2').css('visibility','visible');
      } else if ( $('select#team-type').val() == 'singles') {
        $('#player-2').css('visibility','hidden');
      }
    })

    // Hotkey shortcut for New Round (Shift + n)
    window.addEventListener('keypress', function(e) {
      if (e.shiftKey && e.keyCode == 78) {
        $('form#new-round-form').submit();
      }
    });
  })
</script>
