<div>
  <h1 class="pull-left">Nertz Scores for Game <%= @game.id %></h1>
  <%= form_tag add_team_to_game_path,
    :method => :put,
    :id => 'add-team-form',
    class: 'pull-right' do %>
    <select class="custom-select" id="team-selector" name="team_id" style="width:auto">
      <option selected value="0">Add team to game</option>
      <optgroup label="Singles">
        <% Team.singles.sort_by(&:name).each do |team| %>
          <option value=<%= team.id %>><%= team.label_with_players %></option>
        <% end %>
      </optgroup>
      <optgroup label="Doubles">
        <% Team.doubles.sort_by(&:name).each do |team| %>
          <option value=<%= team.id %>><%= team.label_with_players %></option>
        <% end %>
      </optgroup>
    </select>
  <% end %>
</div>

<table class="table table-condensed table-striped table-hover" style="text-align: center">
  <thead>
    <th>Round</th>
    <% @team_games.each do |team_game| %>
      <th>
        <%= form_tag toggle_team_game_active_path(team_game_id: team_game.id),
          :method => :post do %>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              id="toggle-team-check-input-<%= team_game.id %>"
              type="checkbox"
              name="team_game_id"
              <%= 'checked' if team_game.active? %>>
            <label
              title="<%= team_game.team.team_members_label %>"
              class="form-check-label"
              for="toggle-team-check-input-<%= team_game.id %>">
              <%= team_game.team.name %>
            </label>
          </div>
        <% end %>
      </th>
    <% end %>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @rounds_by_number.keys.sort.each do |round_number| %>
      <tr>
        <%= render 'round_row', round_number: round_number, game_id: @game.id %>
      </tr>
    <% end %>
    <%= render 'new_round_row' %>
  </tbody>
</table>

<%= line_chart_total_score_over_rounds(game: @game) %>

<script type="text/javascript">
  $(function() {
    // For on-select adding of new Teams to the Game
    $('select#team-selector').change(function() {
      $('#add-team-form').submit();
    })
    // For on-checked toggling of TeamGame active boolean
    $('input.form-check-input').change(function() {
      $(this).parents('form:first').submit();
    })
  })
</script>
