<h1>Nertz Scores for Game <%= @game.id %></h1>

<table class="table table-condensed table-striped table-hover <%= 'small' if @team_games.size > 5 %>" style="text-align: center">
  <thead>
    <th>Round</th>
    <% @team_games.each do |team_game| %>
      <th><%= team_game.team.name %></th>
    <% end %>
    <th></th>
    <th>
      <%= form_tag add_team_to_game_path,
        :method => :put,
        :id => 'add-team-form' do %>
        <select class="custom-select" id="team-selector" name="team_id" style="width:auto">
           <option selected value="0">Add team</option>
          <% Team.all.sort_by(&:name).each do |team| %>
            <option value=<%= team.id %>><%= team.label_with_players %></option>
          <% end %>
        </select>
      <% end %>
    </th>
  </thead>
  <tbody>
    <% @rounds_by_number.keys.sort.each do |round_number| %>
      <tr>
        <%= render 'round_row', round_number: round_number, game_id: @game.id %>
      </tr>
    <% end %>
    <%= render 'new_round_row' %>
  </tbody>
</table>

<script type="text/javascript">
  $(function() {
    // For on-select adding of new Teams to the Game
    $('select#team-selector').change(function() {
      $('#add-team-form').submit();
    })
  })
</script>
