<h1> Nertz Players</h1>
<hr>

<%= form_tag create_player_path, :method => :post, :class => 'form-inline' do %>
  <div class="col-auto form-group">
    <label>Player Name:</label>
    <input type="text" class="form-control mx-sm-3" name="player_name">
  </div>

  <button type="submit" class="btn btn-success mx-sm-3"><i class="fa fa-plus-square"></i> Create new player</button>
<% end %>

<br>

<h2>Existing Players</h2>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    <% @all_players.each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.name %></td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#editPlayerNameModal-<%= player.id %>"><i class="fa fa-edit"></i> Edit name</button>

          <%= form_tag change_player_path(player_id: player.id) do %>
            <div class="modal fade edit-player-name-modal" id="editPlayerNameModal-<%= player.id %>" tab-index="-1" role="dialog" aria-labelledby="Confirm Name Change" aria-hidden="true">

              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">
                      Change Player Name For <%= player.name %>
                    </h5>
                  </div>
                  <div class="modal-body">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="new-player-name-box-<%= player.id %>">New Player Name:</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        aria-label="PlayerName"
                        aria-described-by="new-player-name-box-<%= player.id %>"
                        id="new_player_name_<%= player.id %>"
                        name="new_player_name_<%= player.id %>">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Change Player Name</button>
                    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
