<h1><%= params[:stat_type].capitalize %> Nertz Stats</h1>
<hr>

<% @stats_modules.sort.to_h.each do |name, params| %>
  <h3>
    <%= name.underscore.humanize %>
    <span class="badge badge-light pull-right">Took <%= params[:performance] %> secs</span>
  </h3>
  <p><%= params[:description] %></p>
  <%=
    stats_builder(
      graph_type: params[:graph_type],
      data: params[:data],
      graph_options: params[:graph_options]
    )
  %>
  <hr>
<% end %>
