<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= games_url %>">
    <%= image_tag('nertz_rent_a_card_logo.png', alt: 'Nertz Dash', class: 'header-logo d-inline-block') %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= games_url %>">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= teams_url %>">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= players_url %>">Players</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="statsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stats <span class="badge badge-danger">New</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="statsDropdown">
          <a class="dropdown-item" href="<%= stats_url(StatsController::GENERAL) %>">
            General
          </a>
          <a class="dropdown-item" href="<%= stats_url(StatsController::SINGLES) %>">
            Singles
          </a>
          <a class="dropdown-item" href="<%= stats_url(StatsController::DOUBLES) %>">
            Doubles
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= experimental_url %>">Experimental View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= card_game_url %>">Card Game View <span class="badge badge-primary">Beta</span>
</a>
      </li>
    </ul>
  </div>
</nav>
