<!DOCTYPE html>
<html>
  <head>
    <title>Nertzdash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <% flash.each do |key, value| %>
      <div class="flash-msg <%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>
    <div class='base'>
      <%= yield %>
    </div>
  </body>
</html>
